.feedback-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #171616;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 6.8vh;
    margin-bottom: 10vh;
    margin-left: 10vh;
  }
  
  .feedback-container h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #ffffff;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 5px;
    color: #ffffff;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .form-group textarea {
    height: 150px;
    resize: none;
  }
  
  button {
    background-color: #5e5f5f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
  }
  
  button:hover {
    background-color: #535252;
    transition: 100ms;
  }
  